In [1]:
a = ["banana", "apple", "google"]

In [2]:
print (a[0])
print (a[1])
print (a[2])

banana
apple
google

In [3]:
for element in a:
    print (element)

banana
apple
google

In [6]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print (total)

35

In [7]:
# 1, 2, 3, 4
c = list (range (1, 101))
print (c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
total2 = 0
for f in range (1, 101):
    total2 += f
print (total2)

5050

In [10]:
print (list (range (1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print (5 % 3)

2

In [12]:
print (1 % 3)

1

In [13]:
total3 = 0
for i in range (1, 8):
    if i % 3 == 0:
        total3 += i
print (total3)

9

In [14]:
# multiples 3, 5 less than 100
print (list(range (1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
total4 = 0
for i in range (1, 100):
    if i % 3 == 0 and i % 5 == 0:
        total4 += i 
print (total4)

315